/* dark-mode.css */
body {
    background-color: black; /* Set the background color to black */
    color: #ffffff; /* Set text color to white or your preferred color */
}

.navbar {
    background-color: #333;
}

/* Add more styles for other elements as needed */
