<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<h1 style="text-align: center;">ABOUT US</h1>

<P>Sytian IT Productions Inc. is a duly registered 48-man digital marketing agency and I.T. company based in Manila, Philippines. Established in the year 2006, it has been running its operations for 17 years now.
    Armed with full-time highly-skilled, competent and professional programmers and web developers, creative graphic designers, and sincere and trustworthy sales and marketing executives, it has deployed 1,410 projects (as of January 2023) both local and abroad.</P>
<p>We provide our clients with an array of services that will keep them up-to-date with the latest trends in technology. With rising fame of online marketing, we want to help businesses utilize the benefits of the internet, social media and digital marketing.
In this technologically-advanced world, the demand of consumers and the global industry is higher and with this, Sytian IT Productions Inc. aspires to serve you better.
    We are committed to be technically-competent in order to meet customers' need for quality standards and satisfaction.
    We are dedicated to offer you services that make you feel proud to work with us.</p>
</body>
</html>