{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{i.img.url}}" class="card-img-top" alt="" height="250">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.year}}</p>
                    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-warning">Get Details</a>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div style="text-align:right">
    <a href="{% url 'movieapp:add_movie' %}" class="btn btn-primary">Add Movie</a>
        </div>
</div>
{% endblock %}


<!--<img src="{{i.img.url}}" width="100",height="100">-->
<!--{{i.id}}&#45;&#45;&ndash;&gt;{{i.name}}&#45;&#45;&ndash;&gt;{{i.desc}}&#45;&#45;&ndash;&gt;{{i.year}}<br>-->
<!--{{i.id}}&#45;&#45;&ndash;&gt;{{i.name}}-->
<!--<a href="movie/{{i.id}}">{{i.name}}<br>-->

