{% extends 'base.html' %}

{% block content %}

<div>
    <p class="text-center my_search_text">You have searched for: <b>{{ query }}</b></p>
</div>

{% if movies %}
    <div class="container">
        <div class="row mx_auto">
            {% for movie in movies %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                    <div class="card text-center" style="min-width:18em;">
                        <a href="{{ movie.get_url }}"><img class="card_img-top my_image" src="{{ movie.img.url }}" alt="{{ movie.name }}"></a>
                        <div class="card-body">
                            <h4>{{ movie.name }}</h4>
                            <p>{{ movie.desc }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="row mx-auto">
        <p class="text-center my_search_text">No results found</p>
    </div>
{% endif %}

{% endblock %}
