{% extends 'base.html' %}
{% block body %}
<a href="{% url 'addmovieapp:index' %}" class="btn btn-secondary">Home</a>

    <div style="text-align: center;">
        <h1>Welcome User</h1>
        <a href="{% url 'addmovieapp:add_movie' %}" class="btn btn-primary">Add New Movie</a>
        <h2>Your Movies:</h2>
        <ul>
            {% for movie in user_movies %}
            <h3>{{ movie.name }}</h3>
            <p>Description: {{ movie.desc }}</p>
            <p>Year: {{ movie.year }}</p>

            <a class="btn btn-warning" href="{% url 'addmovieapp:update' movie.id %}">Updated</a>
            <a class="btn btn-danger" href="{% url 'addmovieapp:delete' movie.id %}">Deleted</a>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
