{% extends 'base.html' %}
{% block body %}
<a href="{% url 'addmovieapp:index' %}" class="btn btn-secondary">Home</a>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.poster.url}}" width="300" height="300"><br>
        </div>
        <div class="col-md-6">
            <h2>{{ movie.title }}</h2>
            <h5>Description</h5>
            <h6>{{ movie.desc }}</h6>
            <h6>Release Date:{{ movie.release_date }}</h6>
            <h6>Actors:{{ movie.actors }}</h6>
             <h6>Category:{{ movie.category }}</h6>
            <h5>Trailer_link</h5>
            <a href="{{ movie.trailer_link }}" target="_blank">{{ movie.trailer_link }}</a>
            <h5>User Rating</h5>
                <p>{{ movie.user_rating }}</p>
                <h5>User Review</h5>
                <p>{{ movie.user_review }}</p>
        </div>
<!--            {% if movie.review_set.all %}-->
<!--                    <h5>User Reviews</h5>-->
<!--                    <ul>-->
<!--                        {% for review in movie.review_set.all %}-->
<!--                            <li>-->
<!--                                <strong>{{ review.user.username }}</strong> rated it {{ review.user_rating }} stars.<br>-->
<!--                                {{ review.user_review }}-->
<!--                            </li>-->
<!--                        {% endfor %}-->
<!--                    </ul>-->
<!--                {% else %}-->
<!--                    <p>No reviews available yet.</p>-->
<!--                {% endif %}-->

<!--             {% if movie.user_rating and movie.user_review %}-->
<!--                <h5>User Rating</h5>-->
<!--                <p>{{ movie.user_rating }}</p>-->
<!--                <h5>User Review</h5>-->
<!--                <p>{{ movie.user_review }}</p>-->
<!--            {% else %}-->
<!--                <p>No ratings and reviews available yet.</p>-->
<!--            {% endif %}-->

<!--             <h6>{{movie.trailer_link}}</h6>-->
        </div>
    </div>
{% endblock %}